<loading [state]="loading">
  <div>
    <div *ngIf="companyProjectCompShow.showList==true">
      <div style="padding-top: 20px;">
        <div class="col-md-6 offset-md-6 pull-right" style="text-align: right">
          <app-help [heading]="help_heading" [description]="help_description"></app-help>
          <button type="button" class="btn btn-primary" (click)="showProjectAdd()">
            <i class="fa fa-plus"></i> New Project</button>
        </div>
        <div class="clearfix"></div>
      </div>

      <hr/>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-9">
                  <h5>Project</h5>
                </div>
                <div class="col-md-3">
                  <form role="form" (ngSubmit)="dataSearch()">
                    <div class="input-group">
                      <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="search_key">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <table class="card-body table table-hover table-sm table-bordered">
              <thead>
                <tr>
                  <th>Sl.No.</th>
                  <th *ngFor="let headerTh of headerThOption ; let i = index" (click)="sortTable(headerTh.code)" class="custom-table-head">{{headerTh.name}}
                    <span class="pull-right">
                      <i class="fa fa-chevron-up inactive-color" [ngClass]="{'active-color':headerTh.sort_type=='asc'}"></i>
                      <i class="fa fa-chevron-down inactive-color" [ngClass]="{'active-color':headerTh.sort_type=='desc'}"></i>
                    </span>
                  </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let companyProject of companyProjectList ; let i = index">
                  <th scope="row">{{itemNo +i +1}}</th>
                  <td>{{companyProject.project_name}}</td>
                  <td>{{companyProject.project_address}}</td>
                  <td>{{companyProject.project_contact_no}}</td>
                  <td>{{companyProject.project_gstin}}</td>
                  <td>{{companyProject.project_pan}}</td>
                  <td>{{companyProject.project_cin}}</td>
                  <td>
                    <a href="javascript:void(0);" class="anchor-action" title="Edit" name="Edit" (click)="showProjectEdit(companyProject.id)">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="companyProjectList.length == 0">
                  <td colspan="9" class="text-center">No record found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
              <div class="pagination-msg" *ngIf="totalCompanyProjectList > 0">
                <p>Showing {{lower_count}} to {{upper_count}} of {{totalCompanyProjectList}} entries</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="totalCompanyProjectList > itemPerPage">
        <div class="col-md-12">
          <div class="card-body pull-right">
            <ngb-pagination [collectionSize]="totalCompanyProjectList" [maxSize]="paginationMaxSize" [(page)]="defaultPagination" (pageChange)="pagination()"
              size="sm"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="companyProjectCompShow.showAdd==true">
     <app-project-add (showProjectList)="reloadProjectList($event)"></app-project-add>
    </div>
    <div *ngIf="companyProjectCompShow.showEdit==true">
      <!-- <app-project-edit [companyProjectId]=companyProjectId (showProjectList)="reloadProjectList($event)"></app-project-edit> -->
    </div>
  </div>
</loading>