<loading [state]="loading">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-header">Department Add</h4>
            </div>
            <div class="col-md-6 pull-right" style="text-align: right">
                <app-help [heading]="help_heading" [description]="help_description"></app-help>
                <button type="button" class="btn btn-primary" (click)="btnClickNav('departments')">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr/>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" [formGroup]="form" novalidate>
                        <div class="card bg-light mb-3">
                            <div class="card-header" style="background-color:#868e96; color: #fff;">Department Add</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Company</label>
                                        <select class="form-control" name="company" formControlName="company" [ngClass]="displayFieldCss('company')">
                                            <option value="">Select Company</option>
                                            <option *ngFor="let company of company_list" value="{{company.id}}">{{company.company_name}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="isFieldValid('company')">
                                            Please select company
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Department name</label>
                                        <input type="text" class="form-control" name="department_name" placeholder="Department name" formControlName="department_name"
                                            [ngClass]="displayFieldCss('department_name')">
                                        <div class="invalid-feedback" *ngIf="isFieldValid('department_name')">
                                            Please enter department name
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" style="text-align: left; padding-top: 26px;">
                                        <button type="submit" class="btn btn-primary" (click)="addDepartment()">Submit</button>
                                        <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</loading>