<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">GRN Reverse Add</h4>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <app-help [heading]="help_heading" [description]="help_description"></app-help>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('reverse-grn')">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <div>
      <div class="row">
        <div class="col-md-12">
          <form role="form" [formGroup]="form" novalidate>
            <div class="card bg-light mb-3">
              <div class="card-header" style="background-color:#868e96; color: #fff;">GRN Reverse Add</div>
              <div class="card-body">
                <div class="card bg-light mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label>GRN No.</label>
                        <select class="form-control" (change)="grnChange($event.target.value)" name="grn" formControlName="grn"
                          [ngClass]="displayFieldCss('grn')">
                          <option value="">Select GRN</option>
                          <option value="{{grn.id}}" *ngFor="let grn of grnList">{{grn.grn_no}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="form.controls['grn'].hasError('required')">
                          Please select GRN
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mb-3" *ngIf="visible_key">
                  <div class="card-header">Header Line</div>
                  <div class="card-body">
                    <div class="row">
                      <table class="card-body table table-sm ">
                        <thead>
                          <tr>
                            <th>Company</th>
                            <th>Project</th>
                            <th>PO Date</th>
                            <th>Vendor</th>
                            <th>Vendor Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{grn_details.company.company_name}}</td>
                            <td>{{grn_details.project.project_name}}</td>
                            <td>{{grn_details.created_at | date:'dd-MM-yyyy'}}</td>
                            <td>{{grn_details.vendor.vendor_fullname}}</td>
                            <td>{{grn_details.vendor_address.address}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mb-3" *ngIf="visible_key && previous_reverse_grn_list.length > 0">
                  <div class="card-header">Previous GRN</div>
                  <div class="card-body">
                    <div class="card bg-light mb-3" *ngFor="let prevRevGrn of previous_reverse_grn_list">
                      <div class="card-header">GRN No ({{prevRevGrn.grn_no}})</div>
                      <div class="card-body">
                        <div class="row">
                          <table class="card-body table table-sm ">
                            <thead>
                              <tr>
                                <th>Material Group</th>
                                <th>Material</th>
                                <th>PO. Qty.</th>
                                <th>GRN Qty.</th>
                                <th>Reverse Qty.</th>
                                <th>UOM</th>
                                <th>Recieved At</th>
                                <th>Reason</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let grn of prevRevGrn.grn_detail">
                                <td>{{grn.material.material_type.material_type}}</td>
                                <td>{{grn.material.material_fullname}} ( {{grn.material.material_code}} )
                                </td>
                                <td>{{grn.order_quantity}}</td>
                                <td>{{grn.receive_quantity}}</td>
                                <td>{{grn.reverse_grn_quantity}}</td>
                                <td>{{grn.material_uom}}</td>
                                <td>{{prevGrn.created_at | date:'dd-MM-yyyy'}}</td>
                                <td>{{prevGrn.reverse_reason}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mb-3" *ngIf="visible_key">
                  <div class="card-header">Material Line</div>
                  <div class="card-body">
                    <div class="row">
                      <table class="card-body table  table-hover table-sm table-bordered ">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Material Group</th>
                            <th>Material</th>
                            <th>Po. Quantity</th>
                            <th>GRN Quantity</th>
                            <th>Rest Quantity</th>
                            <th>UOM</th>
                            <th>Reverse GRN Quantity</th>
                            <th>Reason</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let mat of grn_details.grn_detail; let k = index">
                            <td>
                              <div class="checkbox" *ngIf="getAvailQty(mat.avail_qty)">
                                <label>
                                  <input type="checkbox" (change)="matCheck($event, mat)">
                                </label>
                              </div>
                            </td>
                            <th>{{mat.material.material_type.material_type}}</th>
                            <td>{{mat.material.material_fullname}} ({{mat.material.material_code}})</td>
                            <td>{{mat.order_quantity}}</td>
                            <td>{{mat.receive_quantity}}</td>
                            <td>{{material_details_list[k].rest_quantity}}</td>
                            <td>{{mat.material_uom}}</td>
                            <td width="200">
                              <input appOnlyNumber type="text" class="form-control" placeholder="GRN Quantity" [(ngModel)]="material_details_list[k].reverse_grn_quantity"
                                [ngModelOptions]="{standalone: true}" (keyup)="RevGnrQuantity(material_details_list[k].reverse_grn_quantity, k)">
                            </td>
                            <td>
                              <textarea name="reverse_reason" class="form-control" placeholder="Reason" [(ngModel)]="material_details_list[k].reverse_reason"
                              [ngModelOptions]="{standalone: true}"></textarea>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12" style="text-align: right">
                    <button type="submit" class="btn btn-primary" (click)="addReverseGrn()">Submit</button>
                    <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</loading>