<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">Stocks Issue Add</h4>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <app-help [heading]="help_heading" [description]="help_description"></app-help>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('stocks')">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <div>
      <div class="row">
        <div class="col-md-12">
          <form role="form" [formGroup]="form" novalidate>
            <div class="card bg-light mb-3">
              <div class="card-header" style="background-color:#868e96; color: #fff;">Stocks Issue Add</div>
              <div class="card-body" *ngIf="visible_key">
                <div class="card bg-light mb-3">
                  <div class="card-header">Issue Stock</div>
                  <div class="card-body">
                    <table class="card-body table table-sm table-bordered">
                      <thead>
                        <tr>
                          <th>Company</th>
                          <th>Project</th>                          
                          <th>Item</th>
                          <th>Available Quantity</th>
                          <th *ngIf="getAvlChek(this.stockDetails.quantity)">Issuing Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{stockDetails.company.company_name}}</td>
                          <td>{{stockDetails.company_project.project_name}}</td>
                          <td>{{stockDetails.material.material_fullname}}</td>
                          <td>{{stockDetails.quantity}}</td>
                          <td width="150px" *ngIf="getAvlChek(this.stockDetails.quantity)">
                            <div class="form-group">
                              <input appOnlyNumber type="text" class="form-control" name="quantity" formControlName="quantity" [ngClass]="displayFieldCss('quantity')"
                                (keyup)="getValueCheck($event.target.value)">
                              <div class="invalid-feedback" *ngIf="form.controls['quantity'].hasError('required')">
                                Please enter quantity
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row" *ngIf="getAvlChek(this.stockDetails.quantity)">
                  <div class="form-group col-md-12">
                    <label>Purpose notes</label>
                    <textarea cols="5" class="form-control" placeholder="Purpose notes" name="note" formControlName="note" [ngClass]="displayFieldCss('note')"></textarea>
                    <div class="invalid-feedback" *ngIf="form.controls['note'].hasError('required')">
                      Please enter note
                    </div>
                  </div>
                  <div class="form-group col-md-12" style="text-align: right">
                    <button type="submit" class="btn btn-primary" (click)="stockIssue()">Submit</button>
                    <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</loading>