<div>
    <div class="row">
        <!-- <div class="col-md-12">
            <h4 class="page-header landingpage">Welcome to The ERP Dashboard
                <br>
                <div class="ibox"></div>
            </h4>
            <p class="text-center ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                <br>standard dummy text ever since the 1500s, when an unknown printer took a galley
            </p>
            <hr>
        </div>  -->
        <div class="container">
            <br><br>

            <img class="img-fluid" src="assets/images/erp-dashboard.png" alt="" />


            <!-- <div class="row cata-gory">
          <div class="col-md-4">
            <div class="inner-contant">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <h4>Help</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
              <a href="#">Read More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inner-contant">
              <i class="fa fa-building-o" aria-hidden="true"></i>
              <h4>Company Details</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
              <a href="#">Read More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inner-contant">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <h4>My Account</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>