<loading [state]="loading">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-header">Purchase Requisition Details</h4>
            </div>
            <div class="col-md-6 pull-right" style="text-align: right">
                <app-help [heading]="help_heading" [description]="help_description"></app-help>
                <button type="button" class="btn btn-primary" (click)="btnClickNav('purchase-requisition')">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr/>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header" style="background-color:#868e96; color: #fff;">Purchase Requisition Number : {{purchaseRequisition.requisition_map[0].requisition_no}}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="card-body table table-hover table-sm table-bordered">

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label>Purchase Requisition Number : </label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.requisition_map[0].requisition_no}}</label>
                                                </td>
                                                <td>
                                                    <label>Company : </label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.company.company_name}}</label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Purchase Org : </label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.purchase_org.name}}</label>
                                                </td>
                                                <td>
                                                    <label>Purchase Group : </label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.purchase_grp.name}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Raised By : </label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.created_by.first_name}}</label>
                                                </td>
                                                <td>
                                                    <label>Status : </label>
                                                </td>
                                                <td>
                                                    <label *ngIf="purchaseRequisition.status">Active</label>
                                                    <label *ngIf="!purchaseRequisition.status">Inactive</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Raised Date :</label>
                                                </td>
                                                <td>
                                                    <label>{{purchaseRequisition.created_at | date: 'dd-MM-yyyy'}}</label>
                                                </td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <h4>Items requested</h4>
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <table class="card-body table table-hover table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label>Material</label>
                                                </th>
                                                <th>
                                                    <label>UOM</label>
                                                </th>
                                                <th>
                                                    <label>Quantity</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let requisition_detail of purchaseRequisition.requisition_detail ; let i = index">
                                                <td>
                                                    <label>{{requisition_detail.material.material_code}} - {{requisition_detail.material.material_fullname}}</label>
                                                </td>
                                                <td>
                                                    <label>{{requisition_detail.uom.name}}</label>
                                                </td>
                                                <td>
                                                    <label>{{requisition_detail.quantity}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</loading>