<loading [state]="loading">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-header">Sale Organization Edit</h4>
            </div>
            <div class="col-md-6 pull-right" style="text-align: right">
                <app-help [heading]="help_heading" [description]="help_description"></app-help>
                <button type="button" class="btn btn-primary" (click)="btnClickNav('sale-organization')">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr/>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" [formGroup]="form">
                        <div class="card bg-light mb-3">
                            <div class="card-header" style="background-color:#868e96; color: #fff;">Sale Organization Edit</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Sale Organization Name</label>
                                        <input class="form-control" placeholder="Sale Organization Name" [(ngModel)]="saleOrganization.name" name="name" formControlName="name"
                                            [ngClass]="displayFieldCss('name')">
                                        <div class="invalid-feedback" *ngIf="isFieldValid('name')">
                                            Please enter Sale Organization name
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Organization Description</label>
                                        <textarea class="form-control" rows="1" placeholder="Organization Description" [(ngModel)]="saleOrganization.description"
                                            name="description" formControlName="description" [ngClass]="displayFieldCss('description')">{{saleOrganization.description}}</textarea>
                                        <div class="invalid-feedback" *ngIf="isFieldValid('description')">
                                            Please enter Organization Description
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" style="text-align: right">
                                        <button type="submit" class="btn btn-primary" (click)="updateSaleOrganization()">Submit</button>
                                        <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</loading>