<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">Transport Edit</h4>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <app-help [heading]="help_heading" [description]="help_description"></app-help>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('transport')">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <div>
      <div class="row">
        <div class="col-md-12">
          <form role="form" [formGroup]="form" novalidate>
            <div class="card bg-light mb-3">
              <div class="card-header" style="background-color:#868e96; color: #fff;">Transport Edit</div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-2">
                    <label>Transporter Name</label>
                    <input class="form-control" [(ngModel)]="transport.transporter_name" name="transporter_name" placeholder="Transporter Name"
                      formControlName="transporter_name" [ngClass]="displayFieldCss('transporter_name')">
                    <div class="invalid-feedback" *ngIf="form.controls['transporter_name'].hasError('required')">
                      Please enter transporter name
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Email</label>
                    <input class="form-control" [(ngModel)]="transport.email" name="email" placeholder="Email" formControlName="email" [ngClass]="displayFieldCss('email')">
                    <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('pattern') && !form.controls['email'].hasError('required')">
                      Please enter a valid email address
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Contact No</label>
                    <input class="form-control" [(ngModel)]="transport.phone" name="phone" placeholder="Contact No" formControlName="phone" [ngClass]="displayFieldCss('phone')">
                    <div class="invalid-feedback" *ngIf="form.controls['phone'].hasError('minlength') && !form.controls['phone'].hasError('required')">
                      Please enter at least 10 digit
                    </div>
                    <div class="invalid-feedback" *ngIf="form.controls['phone'].hasError('maxlength') && !form.controls['phone'].hasError('required')">
                      Phone number should be less then 13 digit
                    </div>
                    <div class="invalid-feedback" *ngIf="form.controls['phone'].hasError('required')">
                      Please enter phone
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <label>Company</label>
                    <select class="form-control" name="company" [(ngModel)]="transport.company" formControlName="company" [ngClass]="displayFieldCss('company')">
                      <option value="">Select company</option>
                      <option value="{{country.id}}" *ngFor="let country of companyList">{{country.company_name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.controls['company'].hasError('required')">
                      Please select company
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Storage</label>
                    <select class="form-control" name="storage" [(ngModel)]="transport.storage" formControlName="storage" [ngClass]="displayFieldCss('storage')">
                      <option value="">Select storage</option>
                      <option value="{{store.id}}" *ngFor="let store of storageList">{{store.storage_address}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.controls['storage'].hasError('required')">
                      Please select storage
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>State</label>
                    <select class="form-control" name="state" [(ngModel)]="transport.state" formControlName="state" [ngClass]="displayFieldCss('state')">
                      <option value="">Select State</option>
                      <option value="{{state.id}}" *ngFor="let state of stateList">{{state.state_name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.controls['state'].hasError('required')">
                      Please select state
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>City</label>
                    <input class="form-control" [(ngModel)]="transport.city" name="city" placeholder="City" formControlName="city" [ngClass]="displayFieldCss('city')">
                    <div class="invalid-feedback" *ngIf="form.controls['city'].hasError('required')">
                      Please enter city
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Pincode</label>
                    <input class="form-control" [(ngModel)]="transport.pin" name="pin" placeholder="Pincode" formControlName="pin" [ngClass]="displayFieldCss('pin')">
                    <div class="invalid-feedback" *ngIf="form.controls['pin'].hasError('required')">
                      Please enter pincode
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>PAN</label>
                    <input class="form-control" [(ngModel)]="transport.pan" name="pan" placeholder="PAN" formControlName="pan">
                  </div>
                  <div class="form-group col-md-3">
                    <label>GSTIN</label>
                    <input class="form-control" [(ngModel)]="transport.gstin" name="gstin" placeholder="GSTIN" formControlName="gstin">
                  </div>
                  <div class="form-group col-md-12" style="text-align: right">
                    <button type="submit" class="btn btn-primary" (click)="updateTransport()">Submit</button>
                    <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</loading>