<loading [state]="loading">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-header">Purchase Organization Mapping</h4>
            </div>
            <div class="col-md-6 pull-right" style="text-align: right">
                <app-help [heading]="help_heading" [description]="help_description"></app-help>
                <button type="button" class="btn btn-primary" (click)="btnClickNav('purchase-organization')">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr/>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="card bg-light mb-3">
                            <div class="card-header" style="background-color:#868e96; color: #fff;">Pruchase Organization Mapping</div>
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <ul class="companyList">
                                        <li *ngFor="let company of companyBranchTree">{{company.company_name}}
                                            <ul *ngIf="company.company_branch.length>0">
                                                <li *ngFor="let companyBranch of company.company_branch">
                                                    <input type="checkbox" [name]="company.id" [(ngModel)]="companyBranch.checked" />{{companyBranch.branch_name}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group col-md-12" style="text-align: right">
                                    <button type="submit" class="btn btn-primary" (click)="updatePurchaseOrganizationMapping()">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</loading>