<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">Purchase Order Details</h4>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <app-help [heading]="help_heading" [description]="help_description"></app-help>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('purchase-orders')">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>

    <div *ngIf="visible_key">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#868e96; color: #fff;">Purchase Order Number : {{purchaseOrder.purchase_order_no}} </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="card-body table table-sm table-bordered">

                    <tbody>
                      <tr>
                        <td>
                          <label>PO Number : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.purchase_order_no}}</label>
                        </td>
                        <td>
                          <label>PR Number : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.requisition.requisition_number}}</label>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <label>Company : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.company.company_name}}</label>
                        </td>
                        <td>
                          <label>Project : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.requisition.project_name}}</label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Vendor Name : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.vendor.vendor_fullname}}</label>
                        </td>
                        <td>
                          <label>Vendor Address : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.vendor_address.address}}</label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>PO Date : </label>
                        </td>
                        <td>
                          <label>{{purchaseOrder.quotation_date | date:'yyy-MM-dd'}}</label>
                        </td>
                        <td>
                          <label>PR Raised Date : </label>
                        </td>
                        <td>
                          <label>{{getRequisitionDate(purchaseOrder.requisition.requisition_number)}}</label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Indent Raised By :</label>
                        </td>
                        <td colspan="3">
                          <label>{{purchaseOrder.created_by.first_name}}</label>
                        </td>

                      </tr>
                    </tbody>

                  </table>
                </div>
                <div class="col-md-12">
                  <h4>Items ordered</h4>
                  <hr/>
                </div>
                <div class="col-md-12">
                  <table class="card-body table table-hover table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label>Material Group</label>
                        </th>
                        <th>
                          <label>Material</label>
                        </th>
                        <th>
                          <label>Quantity</label>
                        </th>
                        <th>
                          <label>Rate/Unit</label>
                        </th>
                        <th>
                          <label>Material Value</label>
                        </th>
                        <th>
                          <label>Disc(%)</label>
                        </th>
                        <th>
                          <label>Disc Amount</label>
                        </th>
                        <th>
                          <label>IGST(%)</label>
                        </th>
                        <th>
                          <label>SGST(%)</label>
                        </th>
                        <th>
                          <label>CGST(%)</label>
                        </th>
                        <th>
                          <label>GST Amount</label>
                        </th>
                        <th>
                          <label>Sub Total</label>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of purchaseOrder.purchase_order_detail">
                        <td>
                          <label>{{item.material.material_type.material_type}}</label>
                        </td>
                        <td>
                          <label>{{item.material.material_fullname}} ({{item.material.material_code}})</label>
                        </td>
                        <td>
                          <label>{{item.order_quantity}}</label>
                        </td>
                        <td>
                          <label>{{item.rate}}</label>
                        </td>
                        <td>
                          <label>{{item.material_value}}</label>
                        </td>
                        <td>
                          <label>{{item.discount_percent}}</label>
                        </td>
                        <td>
                          <label>{{item.discount_value}}</label>
                        </td>
                        <td>
                          <label>{{item.igst}}</label>
                        </td>
                        <td>
                          <label>{{item.sgst}}</label>
                        </td>
                        <td>
                          <label>{{item.cgst}}</label>
                        </td>
                        <td>
                          <label>{{item.gst_amount}}</label>
                        </td>
                        <td>
                          <label>{{item.sub_total}}</label>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="10"></td>
                        <td>Grand Total</td>
                        <td>{{purchaseOrder.grand_total}}</td>
                      </tr>
                      <tr>
                        <td colspan="12">Amount in words :
                          <strong>{{purchaseOrder.grand_total_words}}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12">
                  <h4>Terms and Conditions</h4>
                  <hr/>
                </div>
                <div class="col-md-12">
                  <table class="card-body table table-hover table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label>Sl.No.</label>
                        </th>
                        <th>
                          <label>Description</label>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let term of purchaseOrder.purchase_order_terms; let i= index">
                        <td>
                          <label>{{i + 1}}</label>
                        </td>
                        <td>
                          <label>{{term.po_terms.term_text}}</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12" *ngIf="status_visible_key">
                  <h4>Approval Status</h4>
                  <hr/>
                </div>
                <div class="col-md-4"  *ngIf="!isApproveStatus && status_visible_key">
                  <label *ngIf="purchaseOrder.is_finalised == 1" style="display: inline;">Finalised</label>
                  <label *ngIf="purchaseOrder.is_approve == 1 && purchaseOrder.is_finalised == 0" style="display: inline;">Approved</label>
                  <label *ngIf="purchaseOrder.is_approve == 2 && purchaseOrder.is_finalised == 0" style="display: inline;">Rejected</label>
                  <select *ngIf="purchaseOrder.is_finalised == 0 && purchaseOrder.is_approve == 0" class="form-control" name="is_approve"
                    (change)="changeApproveStatus($event.target.value,purchaseOrder.id,purchaseOrder.approval_level)"
                    style="display: inline-flex; width: 81%; float: right; ">
                    <option value='0'>None</option>
                    <option value='1'>Approve</option>
                    <option value='2'>Reject</option>
                  </select>
                </div>
                <div class="col-md-4" *ngIf="isApproveStatus && status_visible_key">
                  <label *ngIf="purchaseOrder.is_finalised == 1" style="display: inline;">Finalised</label>
                  <label *ngIf="purchaseOrder.is_finalised == 0" style="display: inline;">Approved</label>
                  
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</loading>