<loading [state]="loading">
    <div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="page-header">Module Active Permission Edit</h4>
        </div>
        <div class="col-md-6 pull-right" style="text-align: right">
          <app-help [heading]="help_heading" [description]="help_description"></app-help>
          <button type="button" class="btn btn-primary" (click)="btnClickNav('employees/module-activate-permission')">
            <i class="fa fa-arrow-left"></i> Back</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr/>
      <div>
        <div class="row">
          <div class="col-md-12">
            <form role="form" [formGroup]="form" novalidate>
              <div class="card bg-light mb-3">
                <div class="card-header" style="background-color:#868e96; color: #fff;">Module Active Permission Edit</div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-3">
                      <label>Module</label>
                      <select class="form-control" name="content" formControlName="content" [(ngModel)]="employeeModuleActivateDetails.content" (change)="moduleChange($event.target.value)" [ngClass]="displayFieldCss('content')">
                        <option value="">Select Module</option>
                        <option *ngFor="let module of moduleList" value="{{module.content_id}}">{{module.content.model}}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="isFieldValid('content')">
                        Please select module
                      </div>
                    </div>
                    <div class="form-group col-md-9">
                      <div class="row" formArrayName="emp_approve_details" *ngFor="let empApproveDetails of getEmpApproveDetails(form); let i = index;">
                        <div [formGroupName]="i" class="col-md-12">
                          <div class="row">
                            <div class="form-group col-md-4">
                              <label>Level</label>
                              <input class="form-control" placeholder="Level" [(ngModel)]="employeeModuleActivateDetails.emp_approve_details[i].emp_level" name="emp_level" formControlName="emp_level" readonly [ngClass]="{
                                'is-invalid': empApproveDetails.get('emp_level').invalid && (empApproveDetails.get('emp_level').dirty || empApproveDetails.get('emp_level').touched),
                                'is-valid': empApproveDetails.get('emp_level').valid && (empApproveDetails.get('emp_level').dirty || empApproveDetails.get('emp_level').touched)
                              }">
                              <div class="invalid-feedback" *ngIf="empApproveDetails.get('emp_level').touched && empApproveDetails.get('emp_level').hasError('required')">
                                Please enter level
                              </div>
                            </div>
                            <div class="form-group col-md-4">
                              <label>Primary Approver</label>
                              <select class="form-control" name="primary_emp" [(ngModel)]="employeeModuleActivateDetails.emp_approve_details[i].primary_emp" formControlName="primary_emp" [ngClass]="{
                                'is-invalid': empApproveDetails.get('primary_emp').invalid && (empApproveDetails.get('primary_emp').dirty || empApproveDetails.get('primary_emp').touched),
                                'is-valid': empApproveDetails.get('primary_emp').valid && (empApproveDetails.get('primary_emp').dirty || empApproveDetails.get('primary_emp').touched)
                              }">
                                <option value="">Select Employee</option>
                                <option *ngFor="let employee of employeeList" value="{{employee.user}}">{{employee.first_name}} {{employee.last_name}}</option>
                              </select>
                              <div class="invalid-feedback" *ngIf="empApproveDetails.get('primary_emp').touched && empApproveDetails.get('primary_emp').hasError('required')">
                                Please select primary approver
                              </div>
                            </div>
                            <div class="form-group col-md-4">
                              <label>Secondary Approver</label>
                              <select class="form-control" name="secondary_emp" [(ngModel)]="employeeModuleActivateDetails.emp_approve_details[i].secondary_emp" formControlName="secondary_emp" [ngClass]="{
                                'is-invalid': empApproveDetails.get('secondary_emp').invalid && (empApproveDetails.get('secondary_emp').dirty || empApproveDetails.get('secondary_emp').touched),
                                'is-valid': empApproveDetails.get('secondary_emp').valid && (empApproveDetails.get('secondary_emp').dirty || empApproveDetails.get('secondary_emp').touched)
                              }">
                                <option value="">Select Approver</option>
                                <option *ngFor="let employee of employeeList" value="{{employee.user}}">{{employee.first_name}} {{employee.last_name}}</option>
                              </select>
                              <div class="invalid-feedback" *ngIf="empApproveDetails.get('secondary_emp').touched && empApproveDetails.get('secondary_emp').hasError('required')">
                                Please select secondary approver
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
  
                    <div class="form-group col-md-12" style="text-align: right" >
                      <button type="submit" class="btn btn-primary" (click)="updateModuleActivatePermission()">Submit</button>
                      <!-- <button type="reset" class="btn btn-secondary" (click)="reSet()">Reset</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </loading>