<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">Material List</h4>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <app-help [heading]="help_heading" [description]="help_description"></app-help>
        <button type="button" class="btn btn-primary" (click)="btnClickNav('material/add')">
          <i class="fa fa-plus"></i> New Material</button>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                <h5>Material</h5>
              </div>
              <div class="col-md-3">
                <form role="form" (ngSubmit)="dataSearch()">
                  <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="search_key">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
          <table class="card-body table table-hover table-sm table-bordered">
            <thead>
              <tr>
                <th>Sl.No.</th>
                <th *ngFor="let headerTh of headerThOption ; let i = index" (click)="sortTable(headerTh.code)" class="custom-table-head">{{headerTh.name}}
                  <span class="pull-right">
                    <i class="fa fa-chevron-up inactive-color" [ngClass]="{'active-color':headerTh.sort_type=='asc'}"></i>
                    <i class="fa fa-chevron-down inactive-color" [ngClass]="{'active-color':headerTh.sort_type=='desc'}"></i>
                  </span>
                </th>
                <th>UOM
                  <small> (Purchase)</small>
                </th>
                <th>UOM
                  <small> (Sale)</small>
                </th>
                <th>Tax
                  <small> (Purchase % IGST,CGST,SGST,HSN)</small>
                </th>
                <th>Tax
                  <small> (Sale % IGST,CGST,SGST,HSN)</small>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let  material of materialList ; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{material.material_type.material_type}}</td>
                <td>{{material.material_fullname}}</td>
                <td>{{material.material_uom[0].base_uom.name}} - {{material.material_uom[0]['unit_per_uom']}} {{material.material_uom[0].unit_uom.name}}</td>
                <td>
                  <span *ngIf="material.is_sales==true">{{material.material_uom[1].base_uom.name}} - {{material.material_uom[1]['unit_per_uom']}} {{material.material_uom[1].unit_uom.name}}</span>
                </td>
                <td>
                  <span *ngIf="material.is_taxable==true">{{material.material_tax[0]['igst']}} - {{material.material_tax[0]['cgst']}} - {{material.material_tax[0]['sgst']}}
                    - {{material.material_tax[0]['hsn']}}</span>
                </td>
                <td>
                  <span *ngIf="material.is_sales==true && material.is_taxable==true">{{material.material_tax[1]['igst']}} - {{material.material_tax[1]['cgst']}} - {{material.material_tax[1]['sgst']}}
                    - {{material.material_tax[1]['hsn']}}</span>
                </td>
                <td>
                  <a href="javascript:void(0);" class="anchor-action" title="Edit" name="Edit" [routerLink]="['/material/edit', material.id]">
                    <i class="fa fa-edit"></i>
                  </a>&nbsp;&nbsp;&nbsp;
                  <!-- <a href="javascript:void(0);" title="Map" name="Map" (click)="deleteMaterial(material.id)">
                        <i class="fa fa-trash-o"></i>
                      </a> -->
                </td>
              </tr>
              <tr *ngIf="materialList.length == 0">
                <td colspan="8" class="text-center">No record found</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="pagination-msg" *ngIf="totalMaterialList > 0">
              <p>Showing {{lower_count}} to {{upper_count}} of {{totalMaterialList}} entries</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="totalMaterialList > itemPerPage">
      <div class="col-md-12">
        <div class="card-body pull-right">
          <ngb-pagination [collectionSize]="totalMaterialList" [maxSize]="paginationMaxSize" [(page)]="defaultPagination" (pageChange)="pagination()"
            size="sm"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</loading>